.container {
    color: #00D8FF;
    text-align: center;
}

#animated-title {
    font-size: 8vw;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    transition: color 0.3s, border-color 0.3s;
}

#animated-title:hover {
    color: #39FF14;
}

#animated-title .prefix {
    color: #000000;
}