.container {
    color: #FFB31A;
    text-align: left;
    width: 100%;
    max-width: 50vw;
    overflow: hidden;
    margin-left: 1.5%;
}

#animated-title {
    font-size: 4vw;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    transition: color 0.3s, border-color 0.3s;
    margin: 0;
    display: flex;
    align-items: center;
}

#animated-title:hover {
    color: #FF9500;
}

#animated-title .prefix {
    color: #000000;
    flex-shrink: 0;
}

#animated-title span {
    display: inline-block;
}

#animated-title {
    cursor: default;
}