.container {
    color: var(--color-accent);
    text-align: center;
    width: 100%;
    overflow: hidden;
}

#animated-title {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    transition:
        color 0.3s,
        border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

#animated-title:hover {
    color: var(--color-accent-hover);
}

#animated-title .prefix {
    color: #000000;
    flex-shrink: 0;
}

#animated-title span {
    display: block;
}

@media screen and (min-width: 767px) {
    .container {
        margin-left: 1.5%;
    }

    #animated-title {
        font-size: 4vw;
    }
}

@media screen and (max-width: 479px) {
    #animated-title {
        font-size: 7vw;
    }
}
