.code-content {
    flex-grow: 1;
    background-color: #1e1e1e;
    max-width: 100%;
    /* 親要素の幅を超えない */
    overflow-x: auto;
    /* 横スクロールを許可 */
    box-sizing: border-box;
    /* パディング込みでサイズ計算 */
}

pre {
    margin: 0;
    /* 動的なサイズ調整 */
    word-wrap: break-word;
    /* 長い単語を折り返す */
}


code {
    display: block;
    font-family: "Fira Code", monospace;
    color: #d4d4d4;
    white-space: pre;
}

.comment {
    color: #598F4F;
}

.keyword {
    color: #569cd6;
}

.variable {
    color: #9cdcfe;
}

.string {
    color: #ce9178;
}

.string.body {}

.function {
    color: #dcdcaa;
}


@media screen and (min-width: 767px) {
    .code-content {
        padding: 0.5rem 1rem;
    }

    pre {
        line-height: 1.5;
    }

    .comment {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }

    .keyword {
        font-size: clamp(0.8rem, 2vw, 1.2rem);
    }

    .variable {
        font-size: clamp(0.8rem, 2vw, 1.2rem);
    }

    .string {
        font-size: clamp(0.8rem, 2vw, 1.2rem);
    }

    .string.body {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }

    .function {
        font-size: clamp(0.8rem, 2vw, 1.2rem);
    }
}

@media screen and (max-width: 479px) {
    .code-content {
        padding: 0.1rem 0.2rem;
    }

    pre {
        line-height: 1.2;
    }

    .comment {
        font-size: 0.7rem;
    }

    .keyword {
        font-size: 0.6rem;
    }

    .variable {
        font-size: 0.6rem;
    }

    .string {
        font-size: 0.6rem;
    }

    .string.body {
        font-size: 0.7rem;
    }

    .function {
        font-size: 0.6rem;
    }
}