.footer {
    /* 背景色 */
    background-color: #000000;
    /* 文字色 */
    color: #FFFFFF;
    /* textを中央寄せ */
    text-align: center;
    /* 要素内の余白 */
    padding: 0.5rem;
    /* 要素外の余白 */
    margin: 0;
    /* 要素の幅 */
    width: 100%;
    /* レイアウトの設定 */
    display: flex;
    /* 水平方向の配置 */
    justify-content: center;
    /* 垂直方向の配置 */
    align-items: center;
}