@charset "UTF-8";

.footer {
    background-color: #252526;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-style: normal;
}