@charset "UTF-8";

.footer {
    background-color: var(--color-surface-2);
    color: var(--color-text);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 767px) {
    .footer {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 479px) {
    .footer {
        font-size: 0.5rem;
        padding: 0.5rem 0.5rem;
    }
}
