.header {
    background-color: var(--color-main);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-sub1);
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0.5rem 1rem 0.5rem 1.75rem;
    position: relative;
}

.tab-title {
    flex-shrink: 0;
    white-space: normal;
    font-family: var(--font-base);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    color: var(--color-sub1);
    position: relative;
    z-index: 1;
}

.header-tab {
    color: var(--color-sub2);
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color 0.25s ease;
    font-family: var(--font-base);
    font-size: var(--font-size-base);
    margin-right: 1rem;
    padding: 0.5rem 0;
    width: 140px;
}

.header-tab:last-child {
    margin-right: 0;
}

.header-tab.active {
    color: var(--color-accent);
    font-weight: var(--font-weight-bold);
}

.header-tab:hover {
    color: var(--color-accent);
}

.nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
