.header {
    background-color: #252526;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    flex-wrap: row nowrap;
    overflow: hidden;
}

.tab-title {
    flex-shrink: 0;
    white-space: normal;
}

.header-tab {
    color: #B4B4B4;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color 0.3s ease, border-top 0.3s ease;
}

.header-tab.active {
    background-color: #343434;
    color: #FFFFFF;
}

.header-tab:hover {
    background-color: #343434;
    color: #FFFFFF;
}

.nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 767px) {
    .header {
        padding: 0.5rem 1rem;
    }

    .header-tab {
        font-size: 1rem;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 2px;
        transition: background-color 0.3s ease, border-top 0.3s ease;
        border-top: 4px solid transparent;
        width: 120px;
    }

    .tab-title {
        font-size: 1.5rem;
    }

    .header-tab.active {
        border-top: 4px solid #FFB31A;
    }
}

@media screen and (max-width: 479px) {
    .header {
        padding: 0.5rem 0.5rem;
    }

    .tab-title {
        font-size: 0.8rem;
    }

    .header-tab {
        font-size: 0.5rem;
        margin-right: 0.1rem;
        padding: 0.3rem 0.3rem;
        border-radius: 0.1px;
        border-top: 0.1px solid transparent;
        width: 55px;
    }

    .header-tab.active {
        border-top: 1px solid #FFB31A;
    }
}