.main-container {
    background-color: #FFFFFF;
    display: flex;
    /* 縦方向に並べる */
    flex-direction: column;
    /* 水平方向の中央揃え */
    align-items: center;
    /* 垂直方向の中央揃え */
    justify-content: center;
    /* 画面いっぱいに表示 */
    height: 100%;
}