.projects-container {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
}
