.projects-container {
    padding: 20px;
    height: 100%;
}

.page-title {
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

@media screen and (min-width: 767px) {
    .page-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 479px) {
    .page-title {
        font-size: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
}