.education-card {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
}

.education-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.education-card-content {
    padding: 16px;
}

.education-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.education-card-degree {
    color: #4a4a4a;
    margin-bottom: 8px;
}

.education-card-research {
    margin-bottom: 16px;
}

.education-card-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
}

.education-card-skill {
    background-color: #facc15;
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.875rem;
}

.education-card-details {
    color: #4a4a4a;
}

.project-achievements {
    margin-top: 16px;
}

.project-achievements .achievements-title {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}

.achievements-list {
    list-style-position: outside;
    padding-left: 20px;
}

.achievements-list li {
    margin-left: 10px;
}

.project-achievements .achievement-link {
    color: #007BFF;
    text-decoration: none;
}

.project-achievements .achievement-link:hover {
    color: #007BFF;
    text-decoration: underline;
}